body{
	padding: 0;
	margin: 0;
	font-family: "Arial";
}

.container{
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: 5%;
}

.mainText{
	font-size: 40px;
	background-image: linear-gradient(to right bottom, #8255eba8, #7752e7af, #6c4fe2a4, #634ddeaf, #564ad9b4, #4f46d4b4, #4843cfb2, #3f3fcab6, #3a3ac3b9, #3535bdb7, #3030b6bb, #2b2bb0be);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

.container:not(:nth-of-type(1)){
	height: 300px;
	width: 300px;
	margin: 7% auto;
	border: 1px solid #888;
	display: flex;
	flex-direction: column;
}

.row:not(:nth-of-type(3)){
	border-bottom: 2px solid #888;
}

.row{
	height: 33.3%;
	width: 100%;
	display: flex;

}

.tac_container:not(:nth-of-type(3)){
	border-right: 2px solid #888;
}

.tac_container{
	height: 100%;
	width: 33%;
	background: #eee;
}

.tac{
	width: 70px;
	height: 70px;
	position: absolute;
	z-index: 1;
	display: none;
}

.tac-1, .tac-4, .tac-7{
	margin-top: 15px;
	margin-left: 15px;
}

.tac-2, .tac-5, .tac-8{
	margin-top: 15px;
	margin-left: 115px;
}

.tac-3, .tac-6, .tac-9{
	margin-top: 15px;
	margin-left: 215px;
}

.playAgain{
	position: absolute;
	right: 0;
	top: 0;
	padding: 15px 30px;
	border: none;
	background-image: linear-gradient(to right bottom, #8255eba8, #7752e7af, #6c4fe2a4, #634ddeaf, #564ad9b4, #4f46d4b4, #4843cfb2, #3f3fcab6, #3a3ac3b9, #3535bdb7, #3030b6bb, #2b2bb0be);
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.players{	
	width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-size: 50px;
}

.red{
	font-weight: bold;
	color: red;
}

.yellow{
	font-weight: bold;
	color: gold;
	
}